@model WCMS.WebSystem.WebParts.Integration.ViewComponents.NewsdashboardViewModel
@* Ported from NewsDashboard.ascx. *@

<div class="component-newsdashboard">
    @Html.Raw(Model.ScriptMakeUpTestHtml)
</div>