@model WCMS.WebSystem.WebParts.Integration.ViewComponents.OldAsopv2ContentViewModel
@* Ported from asopv2-content.ascx. *@

<div class="component-old-asopv2-content">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Old Asopv2 Content</em> component loaded.</p>
    </div>
</div>