@model WCMS.WebSystem.WebParts.ViewComponents.MCAdminComposerManagerModel

<div class="card" id="mc-admin-composer-manager-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Composer Manager</h5>
    </div>
    <div class="card-body">
        <p>Loading composer manager...</p>
    </div>
</div>
