@model WCMS.WebSystem.WebParts.Integration.ViewComponents.ServicepickerViewModel
@* Ported from ServicePicker.ascx. *@

<div class="component-servicepicker">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Servicepicker</em> component loaded.</p>
    </div>
</div>