@model WCMS.WebSystem.WebParts.Integration.ViewComponents.BibleauthViewModel
@* Ported from BibleAuth.ascx. *@

<div class="component-bibleauth">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Bibleauth</em> component loaded.</p>
    </div>
</div>