@model WCMS.WebSystem.WebParts.Integration.ViewComponents.McgisgMcgisgInsideViewModel
@* Ported from mcgisg_inside.ascx. *@

<div class="component-mcgisg-mcgisg-inside">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Mcgisg Mcgisg Inside</em> component loaded.</p>
    </div>
</div>