<!DOCTYPE html>
<html>
<head>
    <title>$(Title)</title>
    <style type="text/css">
        h3
        {
            font-size: 150%;
        }
        
        input, select, textarea
        {
            font: 14px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
        }
        
        body, p, li, dt, dd, label, div
        {
            font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h3>
        $(Title)</h3>
    <div>&nbsp;</div>
    <div>
        $(Content)
    </div>
</body>
</html>
