@model WCMS.WebSystem.WebParts.Integration.ViewComponents.Area51InsidewithsidebarViewModel
@* Ported from InsideWithSidebar.ascx. *@

<div class="component-area51-insidewithsidebar">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Area51 Insidewithsidebar</em> component loaded.</p>
    </div>
</div>