<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-color: transparent">
                <h1>My Registration Status</h1>
                <p>You're account is still pending approval.</p>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-10">
                        <img src="@WCMS.Framework.WConstants.NoPhotoThumb" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Full Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">email@example.com</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Group ID</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">MAG00049</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Date of Registration</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">10/10/2015 12:30pm</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Registration Status</label>
                    <div class="col-sm-10">
                        <div class="label label-warning">Pending</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Peer Approval URL</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">someorg.org/help-approve?code=ABC123</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>What I have</h2>
            <div>You have a total of 0 approvals</div>
            <h2>What I need</h2>
            <div>You need 3 member approvals OR 1 admin approval</div>
            <h2>How to get fully approved</h2>
            <ol>
                <li>Look for brethen who you know personally and already have an active Integration Portal or ONE account</li>
                <li>Tell then that you need help in getting your Integration Portal account approved.</li>
                <li>Copy your Peer Approval URL from this page and share it to them.</li>
                <li>Tell them to open the URL in a browser, login using their Integration Portal account and follow the instructions on the page.</li>
                <li>Do this multiple times until you got the required number of approvals.</li>
            </ol>
            <div>Once you completed the total number of peer approvals required, your account will then be fully approved and ready for use.</div>
            <br />
            <h2>Why is this nescessary?</h2>
            <div>The main purpose of this process to make sure that only legitimate members are given access to the Portal. Since the Portal is accessible via the internet, even non-members can register.</div>
            <br />
            <div>Now, there are times that even the approvers of the Portal or the admins are not able to determine if the person who register is a legitimate member of the Group. In this case, due to security reasons they are not able to approve the account and registrations are being delayed and pended for approval.</div>
            <br />
            <div>To resolve this delay in approval and at the same time maintain the security of the Portal, this Peer Approval process has been implemented.</div>
            <br />
            <a href="/" class="btn btn-success">Back to Home</a>
            <br />
        </div>
    </div>
</div>