@model WCMS.WebSystem.WebParts.Integration.ViewComponents.RemindertemplatesViewModel
@* Ported from ReminderTemplates.ascx. *@

<div class="component-remindertemplates">
    @Html.Raw(Model.ContentHtml ?? "")
</div>