@model WCMS.WebSystem.WebParts.Integration.ViewComponents.LessonreviewerNewsdashboardViewModel
@* Ported from NewsDashboard.ascx. *@

<div class="component-lessonreviewer-newsdashboard">
    @Html.Raw(Model.ScriptMakeUpTestHtml)
</div>