<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Integration Singapore Account Approval</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body, table
        {
            font-family: Segoe UI, Tahoma, Arial, Times New Roman;
            font-size: 12px;
        }
        
        td
        {
            white-space: nowrap;
        }
        
        .info-col-title
        {
            width: 109px;
        }
        
        .info-col-value
        {
            width: 201px;
        }
        
        .info-col-sep
        {
            width: 7px;
        }
    </style>
</head>
<body style="margin-left: 10px; margin-top: 10px">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 90%">
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr valign="top">
                        <td>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            Thank you for registering with Integration Portal.
                            <br />
                            Your information has been reviewed and below is the registration status.
                            <br />
                            <br />
                            STATUS:&nbsp;&nbsp;<strong style="font-size: larger; color: Green">APPROVAL_STATUS</strong>
                            <br />
                            <br />
                            Please contact your Locale Secretary for any issues.<br />
                            Please verify your Personal Information listed below and let us know if there is
                            any concern.<br />
                            <br />
                            <br />
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="4" style="height: 21px; background-color: #CCCCCC;">
                                        <b>Personal Information</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-col-title">
                                        Group ID No.
                                    </td>
                                    <td class="info-col-sep">
                                        :
                                    </td>
                                    <td class="info-col-value">
                                        $(CHURCH_ID_NO)
                                    </td>
                                    <td rowspan="15">
                                        <img alt="Photo from Integration External" src="$(PHOTO_URL)" width="200px" height="200px" border="1" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        First Name
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td style="width: 201px;">
                                        $(FIRST_NAME)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        Middle Name
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td style="width: 201px;">
                                        $(MIDDLE_NAME)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        Last Name
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td style="width: 201px;">
                                        $(LAST_NAME)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        Date of Membership
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td style="width: 201px;">
                                        $(MEMBERSHIP_DATE)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        Phone No.
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td style="width: 201px;">
                                        $(PHONE)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        Mobile No.
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td style="width: 201px;">
                                        $(MOBILE)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        Email
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td class="info-col-value">
                                        $(EMAIL)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 109px;">
                                        User Name (Login)
                                    </td>
                                    <td style="width: 7px;">
                                        :
                                    </td>
                                    <td style="width: 201px;">
                                        $(USER_NAME)
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <br />
                            Below is the login link to start using your account.
                            <br />
                            <br />
                            <a title="Click here to login to Integration Portal" href="$(LOGIN_URL)">$(LOGIN_URL)</a><br />
                            <br />
                            <br />
                            (<b>IMPORTANT NOTE:</b> If your e-mail program does not allow you to click the link,
                            or if the link is on two lines and is broken, please copy and paste the complete
                            URL into your Web browser manually beginning with http and ending with your unique
                            character code.)
                            <br />
                            <br />
                            If you did not create a registration profile using this e-mail address, please notify
                            us by changing the subject line of this e-mail to &quot;Unsolicited registration&quot;
                            and forwarding it to <b>info@someorg.org.sg</b>.<br />
                            <br />
                            <br />
                            <b>Thanks be to GOD.</b><br />
                            ADDCIT Asia Oceania
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
</body>
</html>
