@model WCMS.WebSystem.WebParts.ViewComponents.MCVoteManagerModel

<div class="card" id="mc-vote-manager-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Vote Manager</h5>
    </div>
    <div class="card-body">
        <p>Loading vote manager...</p>
    </div>
</div>
