@model WCMS.WebSystem.WebParts.G2.ViewComponents.ConfirmViewModel
@* Ported from Confirm.aspx. *@

<div class="component-confirm">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Confirm</em> component loaded.</p>
    </div>
</div>