@model WCMS.WebSystem.WebParts.ViewComponents.MCVoteResultV3Model

<div class="card" id="mc-vote-result-v3-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Vote Results V3</h5>
    </div>
    <div class="card-body">
        <p>Loading vote results v3...</p>
    </div>
</div>
