@model WCMS.WebSystem.WebParts.G2.ViewComponents.PluginsGenericwallpostViewModel
@* Ported from GenericWallPost.ascx. *@

<div class="component-plugins-genericwallpost">
    @Html.Raw(Model.OutputHtml)
</div>