@model LessonReviewer.ViewComponents.DefaultViewModel
@* Ported from Default.aspx. *@

<div class="component-default">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Default</em> component loaded.</p>
    </div>
</div>