@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello Razor!</h1>
        <div>Standalone Page</div>
    </div>
</body>
</html>
