@model WCMS.WebSystem.WebParts.ViewComponents.MCMessageBoardModel

<div class="card" id="mc-message-board-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Message Board</h5>
    </div>
    <div class="card-body">
        <p>Loading message board...</p>
    </div>
</div>
