@model WCMS.WebSystem.WebParts.Integration.ViewComponents.ProfileZimbrapreauthViewModel
@* Ported from ZimbraPreauth.ascx. *@

<div class="component-profile-zimbrapreauth">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Profile Zimbrapreauth</em> component loaded.</p>
    </div>
</div>