@model WCMS.WebSystem.WebParts.ViewComponents.MCInstagramGalleryModel

<div class="card" id="mc-instagram-gallery-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Instagram Gallery</h5>
    </div>
    <div class="card-body">
        <p>Loading instagram gallery...</p>
    </div>
</div>
