@model WCMS.WebSystem.WebParts.ViewComponents.MCAdminCompetitionEditModel

<div class="card" id="mc-admin-competition-edit-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Edit Competition</h5>
    </div>
    <div class="card-body">
        <p>Loading edit competition...</p>
    </div>
</div>
