@model WCMS.WebSystem.WebParts.ViewComponents.AdmincalendarmanagerViewModel
@* Ported from AdminCalendarManager.ascx. *@

<div class="component-admincalendarmanager">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Admincalendarmanager</em> component loaded.</p>
    </div>
</div>