@model WCMS.WebSystem.WebParts.ViewComponents.MCASOPWinnersModel

<div class="card" id="mc-asop-winners-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">ASOP Winners</h5>
    </div>
    <div class="card-body">
        <p>Loading asop winners...</p>
    </div>
</div>
