obj
bin
.vs
*.suo
*.user
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.dbmdl
/Portal/Binaries/IISExpress
/Portal/Binaries/Logs
/Portal/WebSystem/WebSystem-MVC/Content/Admin/Data/Logs
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/_samples
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/_source
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/_samples
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/_source
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/skins
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/lang
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/images
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/filemanager/browser
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/lang
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/plugins
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/skins
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/fckdebug.html
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/fckdialog.html
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/fckeditor.html
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/fckeditor.original.html
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/_source
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/css
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/dtd
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/images
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/js
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/filemanager
/Portal/WebSystem/WebSystem-MVC/Content/Plugins/fckeditor/editor/dialog
/Portal/WebSystem/WebSystem-MVC/Content/Assets/Resources

/Portal/WebParts/SystemParts/SystemParts/Content
/Portal/WebParts/SystemPartsG2/SystemPartsG2/Content
/Portal/WebParts/SystemPartsG3/SystemPartsG3/Content

/Portal/WebParts/IntegrationParts/BibleReader.Database/Import Schema Logs
/Portal/WebParts/IntegrationParts/IntegrationParts/Content
/Portal/WebParts/BranchLocator/WCMS.WebSystem.Apps.BranchLocator.WebApp/Content

/LessonReviewer/LessonReviewer/Admin/Data/Logs