@* Originally: test/StandAloneTemplate.ascx *@
@model WCMS.WebSystem.ViewComponents.ThemeTestStandaloneModel
<div class="theme-test-standalone" data-object-id="@Model.ObjectId">
    <div class="container">
        <div class="row">
            <div class="col-12" id="ContentZone">
                @* Self-contained content zone - no header/footer chrome *@
            </div>
        </div>
    </div>
</div>
