@model WCMS.WebSystem.WebParts.Integration.ViewComponents.ReminderRemindertemplatesViewModel
@* Ported from ReminderTemplates.ascx. *@

<div class="component-reminder-remindertemplates">
    @Html.Raw(Model.ContentHtml ?? "")
</div>