@model WCMS.WebSystem.WebParts.G2.ViewComponents.ScriptBodyeventViewModel
@* Ported from BodyEvent.ascx. *@

<div class="component-script-bodyevent">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Script Bodyevent</em> component loaded.</p>
    </div>
</div>