@model BibleReader.ViewComponents.AccountRegisterViewModel
@* Ported from Register.aspx. *@

<div class="component-account-register">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Account Register</em> component loaded.</p>
    </div>
</div>