@model WCMS.WebSystem.WebParts.ViewComponents.MCCandidateEditModel

<div class="card" id="mc-candidate-edit-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Edit Candidate</h5>
    </div>
    <div class="card-body">
        <p>Loading edit candidate...</p>
    </div>
</div>
