@model WCMS.WebSystem.WebParts.ViewComponents.MCJudgesModel

<div class="card" id="mc-judges-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Judges Panel</h5>
    </div>
    <div class="card-body">
        <p>Loading judges panel...</p>
    </div>
</div>
