@model WCMS.WebSystem.WebParts.ViewComponents.MCConfirmVoteModel

<div class="card" id="mc-confirm-vote-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Vote Confirmation</h5>
    </div>
    <div class="card-body">
        <p>Loading vote confirmation...</p>
    </div>
</div>
