@model WCMS.WebSystem.WebParts.Integration.ViewComponents.IntegrationServicepickerViewModel
@* Ported from ServicePicker.ascx. *@

<div class="component-integration-servicepicker">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Integration Servicepicker</em> component loaded.</p>
    </div>
</div>