@model WCMS.WebSystem.WebParts.Integration.ViewComponents.AsopAsopv2DivisionContentViewModel
@* Ported from asopv2-division-content.ascx. *@

<div class="component-asop-asopv2-division-content">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Asop Asopv2 Division Content</em> component loaded.</p>
    </div>
</div>