@model BibleReader.ViewComponents.ChangepasswordViewModel
@* Ported from ChangePassword.aspx. *@

<div class="component-changepassword">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Changepassword</em> component loaded.</p>
    </div>
</div>