@model WCMS.WebSystem.WebParts.G2.ViewComponents.DatedisplayDatedisplayViewModel
@* Ported from DateDisplay.ascx. *@

<div class="component-datedisplay-datedisplay">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Datedisplay Datedisplay</em> component loaded.</p>
    </div>
</div>