@* Originally: test/test.ascx *@
@model WCMS.WebSystem.ViewComponents.ThemeTestModel
<div class="theme-test" data-object-id="@Model.ObjectId">
    <header class="theme-test-header">
        <div class="container">
            <div class="row">
                <div class="col-12" id="HeaderZone">
                    @* Header zone *@
                </div>
            </div>
        </div>
    </header>
    <main class="theme-test-content">
        <div class="container">
            <div class="row">
                <div class="col-12" id="ContentZone">
                    @* Content placeholder *@
                </div>
            </div>
        </div>
    </main>
    <section class="theme-test-debug">
        <div class="container">
            <div class="row">
                <div class="col-12" id="DebugInfoZone">
                    @* Debug info zone *@
                </div>
            </div>
        </div>
    </section>
    <footer class="theme-test-footer">
        <div class="container">
            <div class="row">
                <div class="col-12" id="FooterZone">
                    @* Footer zone *@
                </div>
            </div>
        </div>
    </footer>
</div>
