<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Hi $(ManagerName),
    <br />
    <br />
    <a href="$(MemberProfileLink)" title="Click here to view the member's profile">$(MemberName)</a>
    wants to join your group – <strong>$(GroupName)</strong>. To APPROVE this request,
    please click the link below:
    <br />
    <br />
    <a href="$(ApprovalLink)" title="Click here to view the member's profile">$(ApprovalLink)</a>
    <br />
    <br />
    <br />
    Thanks,
    <br />
    <strong>Integration Portal</strong>
</body>
</html>
