<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Hi $(RequesterName),
    <br />
    <br />
    You have requested to update your Portal account email address from $(OldEmail) to <strong>$(NewEmail)</strong>. To start using your new email, you must confirm it by clicking the link below:
    <br />
    <br />
    <a href="$(ConfirmLink)" title="Click here to confirm your new email address">$(ConfirmLink)</a>
    <br />
    <br />
    <br />
    Thanks,
    <br />
    <strong>Integration Portal</strong>
</body>
</html>
