<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        Hi $(RequesterName),
    <br />
        <br />
        Your request to be a member of <strong>$(GroupName)</strong> is now APPROVED. To
    view the group's page, click the link below:
    <br />
        <br />
        <a href="$(GroupLink)" title="Click here to view the group's page">$(GroupLink)</a>
        <br />
        <br />
        <br />
        Thanks,
    <br />
        <strong>Integration Portal</strong>
    </div>
</body>
</html>
