@model WCMS.WebSystem.WebParts.ViewComponents.CalendarminiviewViewModel
@* Ported from CalendarMiniView.ascx. *@

<div class="component-calendarminiview">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Calendarminiview</em> component loaded.</p>
    </div>
</div>