@model WCMS.WebSystem.WebParts.Integration.ViewComponents.McgiwebsiteTemplateInsideViewModel
@* Ported from template_inside.ascx. *@

<div class="component-mcgiwebsite-template-inside">
    @Html.Raw(Model.ContentHtml ?? "")
</div>