@model WCMS.WebSystem.WebParts.G2.ViewComponents.BodyeventViewModel
@* Ported from BodyEvent.ascx. *@

<div class="component-bodyevent">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Bodyevent</em> component loaded.</p>
    </div>
</div>