@model WCMS.WebSystem.WebParts.Integration.ViewComponents.Asopv2HomeViewModel
@* Ported from asopv2-home.ascx. *@

<div class="component-asopv2-home">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Asopv2 Home</em> component loaded.</p>
    </div>
</div>