@using WCMS.WebSystem
<h2>Message from a Theme</h2>
<p>@ViewData["Page"]</p>
<br />
<br />
<div>
    <h1>Header</h1>
    @await RazorHelper.RenderPanelAsync("phHeader", Html)
</div>
<div>
    <h1>Main</h1>
    @await RazorHelper.RenderPanelAsync("phMain", Html)
</div>
<div>
    <h1>Footer</h1>
    @await RazorHelper.RenderPanelAsync("phFooter", Html)
</div>