@model WCMS.WebSystem.WebParts.ViewComponents.MCConfirmVoteV2Model

<div class="card" id="mc-confirm-vote-v2-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Vote Confirmation V2</h5>
    </div>
    <div class="card-body">
        <p>Loading vote confirmation v2...</p>
    </div>
</div>
