@model WCMS.WebSystem.WebParts.Integration.ViewComponents.SessionstartViewModel
@* Ported from SessionStart.ascx. *@

<div class="component-sessionstart">
    @Html.Raw(Model.ScriptMakeUpTestHtml)
    @Html.Raw(Model.ScriptPlaybackTestHtml)
</div>