@model WCMS.WebSystem.WebParts.ViewComponents.ArticleMultipleMultiFrontnewsViewModel
@* Ported from FrontNews.ascx. *@

<div class="component-article-multiple-multi-frontnews">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Article Multiple Multi Frontnews</em> component loaded.</p>
    </div>
</div>