@model WCMS.WebSystem.WebParts.Integration.ViewComponents.AddressbookminiViewModel
@* Ported from AddressBookMini.ascx. *@

<div class="component-addressbookmini">
    @Html.Raw(Model.EralOutputHtml)
</div>