<ajaxControlToolkit>
  <controlBundles>
    <controlBundle>
      <control name="CalendarExtender" />
      <control name="ValidatorCalloutExtender" />
      <control name="ModalPopupExtender" />
      <control name="ComboBox" />
	  <control name="ColorPickerExtender" />
    </controlBundle>
    <controlBundle name="CalendarBundle">
      <control name="CalendarExtender"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>