@model WCMS.WebSystem.WebParts.Integration.ViewComponents.ActivateaccountViewModel
@* Ported from ActivateAccount.ascx. *@

<div class="component-activateaccount">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Activateaccount</em> component loaded.</p>
    </div>
</div>