@model BibleReader.ViewComponents.AboutViewModel
@* Ported from About.aspx. *@

<div class="component-about">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>About</em> component loaded.</p>
    </div>
</div>