@model LessonReviewer.ViewComponents.AdminAdminLoginViewModel
@* Ported from Login.aspx. *@

<div class="component-admin-admin-login">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Admin Admin Login</em> component loaded.</p>
    </div>
</div>