@model WCMS.WebSystem.WebParts.Integration.ViewComponents.McgiwebsiteTemplateHomeViewModel
@* Ported from template_home.ascx. *@

<div class="component-mcgiwebsite-template-home">
    @Html.Raw(Model.ContentHtml ?? "")
</div>