@* Originally: Basic/Basic.ascx *@
@model WCMS.WebSystem.ViewComponents.ThemeBasicModel
<div class="theme-basic" data-object-id="@Model.ObjectId">
    <header class="theme-basic-header">
        <div class="container">
            <div class="row">
                <div class="col-12" id="HeaderZone">
                    @* Header zone - web parts render here *@
                </div>
            </div>
        </div>
    </header>
    <main class="theme-basic-content">
        <div class="container">
            <div class="row">
                <div class="col-12" id="ContentZone">
                    @* Single-column content area *@
                </div>
            </div>
        </div>
    </main>
    <footer class="theme-basic-footer">
        <div class="container">
            <div class="row">
                <div class="col-12" id="FooterZone">
                    @* Footer zone *@
                </div>
            </div>
        </div>
    </footer>
</div>
