<section class="container" style="padding-top:16px; padding-bottom:24px;">
    <h1>Social Media</h1>
    <p class="text-muted">Official community social channels.</p>

    <ul class="list-group">
        <li class="list-group-item"><a href="https://twitter.com/example_profile" target="_blank" rel="noopener">Twitter Profile</a></li>
        <li class="list-group-item"><a href="https://www.facebook.com" target="_blank" rel="noopener">Facebook</a></li>
        <li class="list-group-item"><a href="https://www.youtube.com" target="_blank" rel="noopener">YouTube</a></li>
    </ul>
</section>
