@model WCMS.WebSystem.WebParts.G2.ViewComponents.SitelistSubsiteslistViewModel
@* Ported from subsiteslist.ascx. *@

<div class="component-sitelist-subsiteslist">
    @if (Model.Items.Any())
    {
        <div class="list-group">
            @foreach (var item in Model.Items)
            {
                <div class="list-group-item">
                    <span>@item.Name</span>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-muted fst-italic">No items available.</p>
    }
</div>