@model WCMS.WebSystem.WebParts.ViewComponents.SurveyfinishViewModel
@* Ported from SurveyFinish.ascx. *@

<div class="component-surveyfinish">
    <div class="mb-2">
        <strong>Message:</strong>
        <span>@Model.Message</span>
    </div>
    @Html.Raw(Model.LTitleHtml)
</div>