@model WCMS.WebSystem.WebParts.ViewComponents.MCMessageBoardV2Model

<div class="card" id="mc-message-board-v2-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Message Board V2</h5>
    </div>
    <div class="card-body">
        <p>Loading message board v2...</p>
    </div>
</div>
