@model WCMS.WebSystem.WebParts.ViewComponents.MCJudgeV2Model

<div class="card" id="mc-judge-v2-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Judge V2</h5>
    </div>
    <div class="card-body">
        <p>Loading judge v2...</p>
    </div>
</div>
