@model WCMS.WebSystem.WebParts.Integration.ViewComponents.GlobalswitchGlobalswitchViewModel
@* Ported from GlobalSwitch.ascx. *@

<div class="component-globalswitch-globalswitch">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Globalswitch Globalswitch</em> component loaded.</p>
    </div>
</div>