@model WCMS.WebSystem.WebParts.Integration.ViewComponents.InsideViewModel
@* Ported from Inside.ascx. *@

<div class="component-inside">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Inside</em> component loaded.</p>
    </div>
</div>