<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="~\..\..\..\..\..\..\Binaries\Logs"/>
    <add key="WebObject.XmlProvider" value="WCMS.Framework.Core.XmlProvider"/>
    <add key="WebObject.DataProvider" value="WCMS.Framework.Core.SqlProvider.WebObjectProvider, WCMS.Framework.Core.SqlProvider"/>
    <add key="WebObject.SqlDbName" value="mPortal"/>
    <add key="DbProvider.Path" value="~\..\..\..\..\..\..\Binaries"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=mPortal;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mPortal;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
