@model WCMS.WebSystem.WebParts.G2.ViewComponents.AjaxScriptManagerViewModel
<section id="script-manager-@Model.ObjectId" class="wcms-script-manager" data-object-id="@Model.ObjectId"
         aria-hidden="true" role="presentation">
    @foreach (var script in Model.Scripts)
    {
        if (!string.IsNullOrEmpty(script.Src))
        {
            <script src="@script.Src"
                    @(script.IsAsync ? "async" : "")
                    @(script.IsDefer ? "defer" : "")></script>
        }
    }
</section>
