@model WCMS.WebSystem.WebParts.ViewComponents.LinearMenuViewModel
<nav class="wcms-linear-menu">
    <ul class="nav">
        @foreach (var item in Model.Items)
        {
            <li class="nav-item @item.CssClass">
                <a class="nav-link @(item.IsActive ? "active" : "")" href="@item.Url">@item.Title</a>
            </li>
        }
    </ul>
</nav>
