@model BibleReader.ViewComponents.SetupViewModel
@* Ported from Setup.aspx. *@

<div class="component-setup">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Setup</em> component loaded.</p>
    </div>
</div>