@model WCMS.WebSystem.WebParts.ViewComponents.MCJudgesMasterModel

<div class="card" id="mc-judges-master-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Master Judges</h5>
    </div>
    <div class="card-body">
        <p>Loading master judges...</p>
    </div>
</div>
