@model WCMS.WebSystem.WebParts.G2.ViewComponents.ItemtemplatesTwocolumnsViewModel
@* Ported from TwoColumns.ascx. *@

<div class="component-itemtemplates-twocolumns">
    @if (Model.Items.Any())
    {
        <div class="list-group">
            @foreach (var item in Model.Items)
            {
                <div class="list-group-item">
                    <span class="me-3">@item.Field1</span>
                    <span class="me-3">@item.Field2</span>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-muted fst-italic">No items available.</p>
    }
</div>