<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MemberSoap" maxReceivedMessageSize="524288">
          <security mode="Transport" />
        </binding>
        <binding name="AttendanceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="webservice01.someorg.orgSoap">
          <security mode="Transport" />
        </binding>
        <binding name="webservice01.someorg.orgSoap1" />
        <binding name="CommonWSSoap">
          <security mode="Transport" />
        </binding>
        <binding name="MemberSoap1" />
        <binding name="AttendanceSoap1" />
        <binding name="CommonWSSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="MemberSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="AttendanceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="CommonWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webservice01.someorg.org:8443/ExtAccess/ServiceList.asmx" binding="basicHttpBinding" bindingConfiguration="webservice01.someorg.orgSoap" contract="ExtWebService.webservice01someorgSoap" name="webservice01.someorg.orgSoap" />
      <endpoint address="https://external.someorg.org/webservices/member.asmx" binding="basicHttpBinding" bindingConfiguration="MemberSoap" contract="ExternalMemberWS.MemberSoap" name="MemberSoap" />
      <endpoint address="https://external.someorg.org/webservices/member.asmx" binding="customBinding" bindingConfiguration="MemberSoap12" contract="ExternalMemberWS.MemberSoap" name="MemberSoap12" />
      <endpoint address="https://external.someorg.org/webservices/Attendance.asmx" binding="basicHttpBinding" bindingConfiguration="AttendanceSoap" contract="AttendanceWS.AttendanceSoap" name="AttendanceSoap" />
      <endpoint address="https://external.someorg.org/webservices/Attendance.asmx" binding="customBinding" bindingConfiguration="AttendanceSoap12" contract="AttendanceWS.AttendanceSoap" name="AttendanceSoap12" />
      <endpoint address="https://external.someorg.org/webservices/CommonWS.asmx" binding="basicHttpBinding" bindingConfiguration="CommonWSSoap" contract="CommonWS.CommonWSSoap" name="CommonWSSoap" />
      <endpoint address="https://external.someorg.org/webservices/CommonWS.asmx" binding="customBinding" bindingConfiguration="CommonWSSoap12" contract="CommonWS.CommonWSSoap" name="CommonWSSoap12" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="ExternalDBEntities" connectionString="metadata=res://*/ExternalDBModel.csdl|res://*/ExternalDBModel.ssdl|res://*/ExternalDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=ExternalDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MusicEntities" connectionString="metadata=res://*/MusicModel.csdl|res://*/MusicModel.ssdl|res://*/MusicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=mPortal;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--<extendedProtectionPolicy policyEnforcement="Never" />-->
