@model WCMS.WebSystem.WebParts.ViewComponents.ArticleRSSViewModel
@* Ported from RSS.ascx. *@

<div class="component-article-r-s-s">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Article R S S</em> component loaded.</p>
    </div>
</div>