@* Originally: test/Parts/Contact/Contact/ContactUs.ascx *@
@model WCMS.WebSystem.ViewComponents.ThemeTestContactModel
<div class="theme-test-contact" data-object-id="@Model.ObjectId">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div id="ContactFormZone">
                            @* Contact form fields zone *@
                        </div>
                        <div id="SubmitZone" class="mt-3">
                            @* Submit area *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="MapZone">
                    @* Map placeholder zone *@
                </div>
            </div>
        </div>
    </div>
</div>
