@model WCMS.WebSystem.WebParts.Integration.ViewComponents.LessonreviewerPlaybackViewModel
@* Ported from Playback.ascx. *@

<div class="component-lessonreviewer-playback">
    @Html.Raw(Model.ScriptMakeUpTestHtml)
</div>