@model BibleReader.ViewComponents.AccountAccountLoginViewModel
@* Ported from Login.aspx. *@

<div class="component-account-account-login">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Account Account Login</em> component loaded.</p>
    </div>
</div>