<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\..\LessonReviewer\LessonReviewer\packages.config" />
  <repository path="..\..\WebParts\Integration-G2\WCMS.WebSystem.WebParts.Integration.FindALocale\packages.config" />
  <repository path="..\..\WebParts\Integration-G2\WCMS.WebSystem.WebParts.Integration.WebAppG2\packages.config" />
  <repository path="..\..\WebParts\IntegrationParts\WCMS.WebSystem.WebParts.Registration\packages.config" />
  <repository path="..\..\WebParts\IntegrationParts\IntegrationParts\packages.config" />
  <repository path="..\..\WebParts\SystemParts\WCMS.Framework.FileManager\packages.config" />
  <repository path="..\..\WebParts\SystemParts\SystemParts\packages.config" />
  <repository path="..\..\WebParts\SystemPartsG2\SystemPartsG2\packages.config" />
  <repository path="..\..\WebParts\SystemPartsG3\SystemPartsG3\packages.config" />
  <repository path="..\..\WebSystem\FCKeditor.Net_2.6.3\packages.config" />
  <repository path="..\..\WebSystem\WCMS.Common\packages.config" />
  <repository path="..\..\WebSystem\WCMS.Framework\packages.config" />
  <repository path="..\..\WebSystem\WCMS.WebSystem.ViewModels\packages.config" />
  <repository path="..\..\WebSystem\WebSystem-MVC\packages.config" />
</repositories>