@model WCMS.WebSystem.WebParts.ViewComponents.ConfigfilemanagerViewModel
@* Ported from ConfigFileManager.ascx. *@

<div class="component-configfilemanager">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Configfilemanager</em> component loaded.</p>
    </div>
</div>