@model WCMS.WebSystem.WebParts.ViewComponents.IntRegistrationV2Model

<div id="int-registration-v2-@Model.ObjectId">
    <input type="hidden" id="hUserId" name="UserId" value="-1" />
    <input type="hidden" id="hHasTerms" name="HasTerms" value="" />
    <input type="hidden" id="hLinkExternalRegister" name="LinkExternalRegister" value="" />

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert @(Model.IsSuccess ? "alert-success" : "alert-danger")" role="alert">
            @Model.Message
        </div>
    }

    <!-- Terms View -->
    <div id="viewTerms">
        <div id="panelTerms">
            <h2>ADD Music Ministry Portal</h2>
            <p><strong>Usage Terms and Conditions</strong></p>
            <p>Welcome to <span style="color: red;">Integration Portal</span>. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern <span style="color: red;">ADDCIT Asia Oceania&rsquo;s</span>&nbsp; relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
            <p>
                The term &lsquo;Integration Portal&rsquo; or &lsquo;us&rsquo; or &lsquo;we&rsquo; refers to the owner of the website whose registered office <span style="color: red">is&nbsp; Integration Singapore.</span> The term &lsquo;you&rsquo; refers to the user or viewer of our website.
            </p>
            <p>The use of this website is subject to the following terms of use:</p>
            <ul>
                <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
                <li>This website uses cookies to monitor browsing preferences. Cookies must be enabled.</li>
                <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
                <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
                <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics<b><u>. Reproduction is prohibited</u></b> other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
                <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
                <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
                <li>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
                <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of Singapore.</li>
            </ul>
            <p>&nbsp;</p>
            <p><strong>Copyright Notice</strong></p>
            <p>This website and its content is copyright of Integration Portal - &copy; <span style="color: red">Integration 2012</span>. All rights reserved.</p>
            <p>Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:</p>
            <ul>
                <li>You may print or download to a local hard disk extracts for your personal and non-commercial use only</li>
                <li>You may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material</li>
            </ul>
            <p>You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</p>
            <p>&nbsp;</p>
        </div>
        <div>
            <form method="post">
                <button type="submit" id="cmdAgree" name="Action" value="Agree" class="btn btn-primary">I AGREE AND ACCEPT</button>&nbsp;<a id="linkDisagreeTerms" class="btn btn-default" href="/public/Login">Cancel</a>
            </form>
        </div>
    </div>

    <!-- ONE First Time Login View -->
    <div id="viewONEFirstTime" style="display: none">
        <h3>Integration Ext Account - First Time Login</h3>
        <p>
            You have chosen your Integration Ext account as your primary login to Integration Portal. In order to continue using your Integration Ext account, you need to link your Integration Ext account to Integration Portal.
        </p>
        <p>Please click the continue button to confirm.</p>
        <br />
        <div>
            <form method="post">
                <button type="submit" id="cmdONESetupContinue" name="Action" value="ONEContinue" class="btn btn-primary">Continue using my Integration Ext account</button>
                &nbsp;
                <button type="submit" id="cmdONESetupCancel" name="Action" value="ONECancel" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Enter Email View -->
    <div id="viewEnterEmail" style="display: none">
        <form method="post" novalidate>
            <div class="form-group">
                <label for="txtEnterEmail">Please enter your e-mail:<span class="text-danger">*</span></label>
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <input type="email" id="txtEnterEmail" name="EnterEmail" class="form-control" placeholder="Your e-mail" required />
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" id="cmdNext" name="Action" value="EmailNext" class="btn btn-primary">Next</button>&nbsp;<a class="btn btn-default" href="/public/Login">Cancel</a>
            </div>
        </form>
    </div>

    <!-- Portal User View -->
    <div id="viewPortalUser" style="display: none">
        <div class="Header">You have an existing Integration Portal account. If you are experiencing issues, please contact the Portal admin via the contact form.</div>
        <br />
        <table>
            <tr>
                <td>
                    <a href="/public/Login" class="btn btn-primary">Login Now</a>&nbsp;<a class="btn btn-danger" href="/public/Forgot">Forgot Password</a>
                </td>
            </tr>
        </table>
    </div>

    <!-- Enter Info View -->
    <div id="viewEnterInfo" style="display: none">
        <div class="Header">Please enter your details.</div>
        <br />
        <form method="post" novalidate>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="txtFirstName" class="col-sm-3 col-md-2 control-label">
                        First Name:<span class="text-danger">*</span></label>
                    <div class="col-sm-8 col-md-6">
                        <input type="text" id="txtFirstName" name="FirstName" class="form-control" placeholder="First Name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtLastName" class="col-sm-3 col-md-2 control-label">Last Name:<span class="text-danger">*</span></label>
                    <div class="col-sm-8 col-md-6">
                        <input type="text" id="txtLastName" name="LastName" class="form-control" placeholder="Last Name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cboGender" class="col-sm-3 col-md-2 control-label">Gender:<span class="text-danger">*</span></label>
                    <div class="col-sm-8 col-md-6">
                        <select id="cboGender" name="Gender" class="form-control" required>
                            <option selected value=""></option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">&nbsp;</div>
                </div>
                <div class="form-group">
                    <label for="txtRegisterEmail" class="col-sm-3 col-md-2 control-label">E-mail:</label>
                    <div class="col-sm-8 col-md-6">
                        <input type="email" id="txtRegisterEmail" name="RegisterEmail" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtMobileNumber" class="col-sm-3 col-md-2 control-label">Mobile Number:</label>
                    <div class="col-sm-8 col-md-6">
                        <input type="text" id="txtMobileNumber" name="MobileNumber" class="form-control" placeholder="Mobile Number (Optional)" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">&nbsp;</div>
                </div>
                <div class="form-group">
                    <label for="txtExternalID" class="col-sm-3 col-md-2 control-label">Group ID:<span class="text-danger">*</span></label>
                    <div class="col-sm-8 col-md-6">
                        <input type="text" id="txtExternalID" name="ExternalID" class="form-control" placeholder="Group ID" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtMembershipDate" class="col-sm-3 col-md-2 control-label">Date of Membership:<span class="text-danger">*</span></label>
                    <div class="col-sm-8 col-md-6">
                        <input type="text" id="txtMembershipDate" name="MembershipDate" class="form-control" placeholder="Membership Date (YYYY-MM-DD)" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtLocale" class="col-sm-3 col-md-2 control-label">Group Locale:<span class="text-danger">*</span></label>
                    <div class="col-sm-8 col-md-6">
                        <textarea id="txtLocale" name="Locale" rows="3" class="form-control" title="The Group Locale where are you are currently registered." placeholder="Group Locale" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cboCountries" class="col-sm-3 col-md-2 control-label">Locale Country:<span class="text-danger">*</span></label>
                    <div class="col-sm-8 col-md-6">
                        <select id="cboCountries" name="Country" class="form-control" required>
                            <option selected value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-10 col-md-6">
                        <button type="submit" id="cmdInfoNext" name="Action" value="InfoNext" class="btn btn-primary">Next</button>&nbsp;<a class="btn btn-default link-cancel" href="/public/Login">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Photo Uploader View -->
    <div id="viewPhotoUploader" style="display: none">
        <input type="hidden" id="hExtension" name="Extension" value="" />

        <div id="viewUpload">
            <div class="Header">Upload Your Profile Photo</div>
            <br />
            <form method="post" enctype="multipart/form-data" novalidate>
                <input type="file" id="photoUpload" name="PhotoUpload" />
                <br /><br />
                <span id="uploadPanel">
                    <button type="submit" id="cmdUpload" name="Action" value="Upload" class="btn btn-primary">Upload Now</button>&nbsp;</span>
                <span id="panelSkip">
                    <button type="submit" id="cmdUploadSkip" name="Action" value="UploadSkip" class="btn btn-inverse">Skip</button>&nbsp;</span>
                <a class="btn btn-default link-cancel" href="/public/Login">Cancel</a>
            </form>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#photoUpload").change(function () {
                        var fileName = $(this).val();
                        $("#uploadPanel").css("display", fileName ? "" : "none");
                    });
                    $("#uploadPanel").css("display", "none");
                });
            </script>
        </div>

        <div id="viewPreview" style="display: none">
            <div class="Header">Photo Preview</div>
            <br />
            <img id="imagePreview" src="" alt="Photo Preview" />
            <br /><br />
            <form method="post">
                <button type="submit" id="cmdRegister" name="Action" value="AcceptFinish" class="btn btn-primary">Accept &amp; Finish</button>&nbsp;
                <button type="submit" id="cmdReUpload" name="Action" value="ReUpload" class="btn btn-warning">Re-Upload</button>&nbsp;
                <a class="btn btn-default link-cancel" href="/public/Login">Cancel</a>
            </form>
        </div>
    </div>

    <!-- ONE Link Finish View -->
    <div id="viewONELinkFinish" style="display: none">
        <div class="alert alert-success">Your Integration Ext Account is now linked to your Integration Portal account! From now on, your Integration Portal login will your Integration Ext account.</div>
        <a class="btn btn-primary" href="/public/Login/">Continue to Login</a>
    </div>

    <!-- Registration Finish View -->
    <div id="viewFinish" style="display: none">
        <div class="alert alert-success">
            <strong>Registration successful!</strong>
            <br />
            You have completed the registration, however, your account is sent for review.
            <br /><br />
            You will receive an e-mail with your temporary password once your account is approved. Please check your e-mail inbox regularly.
        </div>
        <a class="btn btn-primary" href="/public/Login/">Done</a>
    </div>

    <!-- ONE Finish View -->
    <div id="viewONEFinish" style="display: none">
        <div class="alert alert-success">Registration successful! You may now start using your Integration Ext account in Integration Portal by logging in.</div>
        <a class="btn btn-primary" href="/public/Login/">Continue to Login</a>
    </div>

    <!-- Register Options View -->
    <div id="viewRegisterOptions" style="display: none">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="alert alert-info">
                    <div style="padding-bottom: 10px">
                        <strong>Do you have an Integration Ext account?</strong>
                        <br />
                        If yes, just log-in!
                    </div>
                    <a class="btn btn-info" href="/public/Login/">Login Now</a>
                </div>
                <br />

                <div class="alert alert-danger">
                    <div style="padding-bottom: 5px">
                        <strong>Forgot your password?</strong>
                        <br />
                        Click here if you have an existing account but you forgot your password.
                    </div>
                    <a class="btn btn-danger" href="/public/Forgot">Forgot Password</a>
                </div>
                <br />

                <div class="alert alert-success">
                    <div style="padding-bottom: 5px">
                        <strong>Need a new Account?</strong>
                        <br />
                        Click here to register :)
                    </div>
                    <a class="btn btn-success" id="linkRegisterLocal" href="#">Register @@ Integration Portal</a>
                </div>
            </div>
        </div>
    </div>
</div>
