@model WCMS.WebSystem.WebParts.ViewComponents.BlogViewModel
@* Ported from Blog.ascx. *@

<div class="component-blog">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Blog</em> component loaded.</p>
    </div>
</div>