@* Originally: Default/ForAjaxControlToolkit.ascx *@
@model WCMS.WebSystem.ViewComponents.ThemeDefaultForAjaxControlToolkitModel
<div class="theme-default-ajax" data-object-id="@Model.ObjectId">
    <header class="theme-default-header">
        <div class="container">
            <div class="row">
                <div class="col-12" id="LogoZone">
                    @* Logo zone *@
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="NavigationZone">
                    @* Navigation zone *@
                </div>
            </div>
        </div>
    </header>
    <main class="theme-default-content">
        <div class="container">
            <div class="row">
                <div class="col-12" id="ContentZone">
                    @* Full-width content area *@
                </div>
            </div>
        </div>
    </main>
    <div id="ScriptZone">
        @* Script placeholder zone for AJAX toolkit support *@
    </div>
    <div id="ToolkitScriptZone">
        @* Additional toolkit script zone *@
    </div>
    <footer class="theme-default-footer">
        <div class="container">
            <div class="row">
                <div class="col-12" id="FooterZone">
                    @* Footer zone *@
                </div>
            </div>
        </div>
    </footer>
</div>
