@model WCMS.WebSystem.WebParts.Integration.ViewComponents.ProfileAddressbookminiViewModel
@* Ported from AddressBookMini.ascx. *@

<div class="component-profile-addressbookmini">
    @Html.Raw(Model.EralOutputHtml)
</div>