@model WCMS.WebSystem.WebParts.ViewComponents.MCVoteV2Model

<div class="card" id="mc-vote-v2-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Voting V2</h5>
    </div>
    <div class="card-body">
        <p>Loading voting v2...</p>
    </div>
</div>
