@model WCMS.WebSystem.WebParts.ViewComponents.IntLoginModel

<div class="system-login" id="int-login-@Model.ObjectId">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert @(Model.IsSuccess ? "alert-success" : "alert-danger")" role="alert">
            @Model.Message
        </div>
    }

    <!-- Login View -->
    <div id="viewLogin">
        <input type="hidden" id="hLocation" name="hLocation" value="" />
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

        <script type="text/javascript">
            function prepareAndSubmit() { return true; }

            $(document).ready(function () {
                var txtUserName = $("#txtUserName");
                if (txtUserName.length > 0) {
                    txtUserName.focus();
                }
                if (typeof ResolveGeoIp === 'function') {
                    ResolveGeoIp(function (loc) { $('#hLocation').val(loc); });
                }
            });
        </script>

        <form method="post" novalidate>
            <table border="0">
                <tr>
                    <td style="text-align: right">Group&nbsp;ID<span class="text-danger" title="Email or Group ID is required.">*</span>&nbsp;
                    </td>
                    <td>
                        <input type="text" id="txtUserName" name="UserName" class="form-control" placeholder="Your Group ID or Email" required />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; padding-top: 10px">Password<span class="text-danger" title="Password is required.">*</span>&nbsp;
                    </td>
                    <td style="padding-top: 10px">
                        <input type="password" id="txtPassword" name="Password" class="form-control" required />
                    </td>
                </tr>
                <tr id="panelOtp" style="display: none">
                    <td style="text-align: right">Send OTP Via
                    </td>
                    <td>
                        <label class="radio-inline"><input type="radio" name="OtpMethod" value="0" checked /> E-mail</label>
                        <label class="radio-inline"><input type="radio" name="OtpMethod" value="1" /> SMS</label>
                    </td>
                </tr>
                <tr id="panelRememberMe">
                    <td></td>
                    <td>
                        <div class="checkbox" style="margin-top: 0; padding-left: 0">
                            <label class="aspnet-checkbox">
                                <input type="checkbox" id="chkRememberMe" name="RememberMe" value="true" /> Keep me logged in
                            </label>
                        </div>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" id="cmdLogin" style="width: 80px" class="btn btn-primary" data-loading-text="Logging in..." onclick="prepareAndSubmit();">Login</button>
                    </td>
                </tr>
                <tr id="panelSignUpLink" style="display: none">
                    <td></td>
                    <td><br />
                        <hr style="height: 1px; margin-top: 5px; margin-bottom: 5px" />
                        <div>
                            No account or cannot login? <a id="linkSignup" href="#" class="BlueLink" title="Click here to Register">Get Access</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- OTP Verification View -->
    <div id="viewOtpVerification" style="display: none">
        <form method="post" novalidate>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 160px; text-align: right">
                        <label for="txtOtpCode">One-time PIN:&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <input type="text" id="txtOtpCode" name="OtpCode" size="30" required />
                        <span class="text-danger" title="OTP PIN required.">*</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" id="cmdNewOtpPin">Request New PIN</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div style="margin-top: 10px">
                            <button type="submit" id="cmdOtpSubmit" class="btn btn-primary">Submit</button>
                            <button type="button" id="cmdOtpCancel" class="btn btn-default">Cancel</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br />
                        <div style="margin-right: 20px">
                            NOTE: Your OTP PIN has been sent to your <span id="lblOtpType"></span>.
                            It will expire after <span id="lblOtpExpiry"></span>.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="color: red">
                        <br />
                        <span id="lblOtpMsg"></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- Forgot Password View -->
    <div id="viewForgot" style="display: none">
        <div id="viewRetrieveSuccess" style="display: none">
            <table border="0" cellpadding="0">
                <tr>
                    <td>Thank you! Your password has been sent to your email,&nbsp;<strong><span id="lblEmail"></span></strong>
                        <br />
                        <br />
                        <a href="Login/" title="Click here to login">Click here to login</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="viewRetrieve">
            <form method="post" novalidate>
                <table border="0" cellpadding="1">
                    <tr>
                        <td colspan="2" class="Header">Forgot Your Password?<br /><br /></td>
                    </tr>
                    <tr>
                        <td colspan="2">Enter your Username or Email to receive your password.<br /></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRetrieveUserName">Username or Email:&nbsp;</label>
                        </td>
                        <td>
                            <input type="text" id="txtRetrieveUserName" name="RetrieveUserName" class="form-control input-sm" size="30" required />
                            <span class="text-danger" title="Username or Email is required.">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="color: red">
                            <span id="lblRetrieveFailed"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            <button type="submit" id="cmdRetrieve" class="btn btn-primary">Submit</button>&nbsp;
                            <a href="Login/" title="Click here to login">Click here to login</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!-- Activation View -->
    <div id="viewActivation" style="display: none">
        <div id="viewSuccess" style="display: none">
            Thank you! Your account has been successfully activated.
            <br />
            <a href="Login/" title="Click here to login">Click here to login</a>
        </div>
        <div id="viewNoNeed" style="display: none">
            Your account has been activated already.
            <br /><br />
            <a href="Login/" title="Click here to login">Click here to login</a>
        </div>
        <div id="viewFailed" style="display: none">
            Sorry!
            <br /><br />
            <a href="Login/" title="Click here to login">Click here to login</a>
        </div>
    </div>
</div>
