@model WCMS.WebSystem.WebParts.G2.ViewComponents.PluginsProfileupdatewallViewModel
@* Ported from ProfileUpdateWall.ascx. *@

<div class="component-plugins-profileupdatewall">
    @Html.Raw(Model.OutputHtml)
</div>