@model WCMS.WebSystem.WebParts.ViewComponents.ArticleEmailPreviewViewModel
@* Ported from EmailPreview.ascx. *@

<div class="component-article-email-preview">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Article Email Preview</em> component loaded.</p>
    </div>
</div>