<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Integration Singapore Email Verification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../../Styles/Registration.css" rel="stylesheet" type="text/css" />
</head>
<body style="margin-left: 10px; margin-top: 10px">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 90%">
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0" width="80%">
                    <tr valign="top">
                        <td class="height8"></td>
                    </tr>
                    <tr valign="top">
                       <td>
                           Thank you for registering with Integration Singapore Portal. 
                           <br />
                           Your e-mail address and the password
                           you have chosen will be your passport to exclusive content and services.
                           <br />
                           <br />
                           IMPORTANT: EMAIL VERIFICATION IS REQUIRED!
                           <br />
                           <br />
                           Your registration requires email verification and final activation before it can
                           be fully available. This process is to verify your e-mail address and, as a security measure,
                           protect your identity from use without your permission.
                           <br />
                           <br />
                           Below you will find a unique confirmation link. Just click on the link to confirm
                           that you are the person who registered for this account.
                           <br />
                           <br /><a href="http://www.mcgisg.org/verify.aspx?register=ACCOUNT_EMAIL&id=MEMBER_ID">
                           http://www.mcgisg.org/verify.aspx?register=ACCOUNT_EMAIL&amp;id=MEMBER_ID</a><br />
                           <br />
                            Please note the link can be used only once.
                           <br />
                           <br />
                           (IMPORTANT NOTE: If your e-mail program does not allow you to click the link, or
                           if the link is on two lines and is broken, please copy and paste the complete URL
                           into your Web browser manually beginning with http and ending with your unique character
                           code.)
                           <br />
                           <br />
                           If you did not create a&nbsp; registration profile using this e-mail address, please
                           notify us by changing the subject line of this e-mail to "Unsolicited registration"
                           and forwarding it to admin@mcgisg.org.<br />
                           <br />
                           <br />
                            Cheers!
                            <br />
                            <span class="txtnormbold">Integration Singapore Support Team</span></td>
                    </tr>
                </table>
            </td>
        </tr>
       
        <tr>
            <td>
            </td>
        </tr>
    </table>
</body>
</html>
