<html>
<head>
    <title>Forgot Password .:</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="../../../Styles/Registration.css" rel="stylesheet" type="text/css" />
</head>
<body style="margin: 0px">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr valign="top">
                        <td style="height: 10px"></td>
                    </tr>
                    <tr valign="top">
                       <td style="padding-left: 14px">
                            Dear FIRST_NAME,
                            <br />
                            <br />
                            You have recently requested for your Integration Singapore Login ID and Password.                             <br />
                            <br />
                            Your Integration Singapore account details are shown below.
                            <br />
                            For enhanced security, please reset the password as soon as possible as the link 
                            below will expire within 72 hours of MCGISG.org sending you this email.
                            <br />
                            <br />
                            Login ID : LOGIN_ID&nbsp;
                            <br />
                            First Name : FIRST_NAME
                            <br />
                            Family/Last Name : LAST_NAME
                            <br />
                            Email : EMAIL_ADDRESS<br />
                            <br />
                            Click on the link below to reset your password
                            <br />
                            <a href="RESET_LINK" target="_blank">RESET_LINK</a><br />
                            (If the link does not work, please copy the full address above and paste it to 
                            your Internet browser)                             <br />
                            If you did not request for your Integration Singapore Login ID and Password from us, 
                            please ignore this email.
                            <br />
                            BBe assured that your login details are very secure. Only you will receive this 
                            email as it is sent only to this email address.
                            <br />
                            Should there be a security breach on you account, please email us. We are 
                            committed to the strict privacy and confidentiality of your account information.
                            <br />
                            <br />
                            Regards,                             <br />
                            Integration Singapore Support<br />
                            mcgisg.org<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
       <tr>
            <td style="height: 40px"></td>
        </tr>
    </table>
</body>
</html>
