@model WCMS.WebSystem.WebParts.G2.ViewComponents.RendererViewModel
@* Ported from Renderer.ascx. *@

<div class="component-renderer">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Renderer</em> component loaded.</p>
    </div>
</div>