@model WCMS.WebSystem.WebParts.ViewComponents.MCASOPMobileModel

<div class="card" id="mc-asop-mobile-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Mobile ASOP Viewer</h5>
    </div>
    <div class="card-body">
        <p>Loading mobile asop viewer...</p>
    </div>
</div>
