@model WCMS.WebSystem.WebParts.ViewComponents.FeedbackViewModel
<div class="feedback-form">
    <h4>Leave a Comment</h4>
    @if (Model.IsLoggedIn)
    {
        <form method="post" asp-action="Comment" asp-controller="ContentApi">
            <input type="hidden" name="objectId" value="@Model.ObjectId" />
            <input type="hidden" name="recordId" value="@Model.RecordId" />
            <div class="form-group">
                <label>Comment as @Model.UserName</label>
                <textarea name="comment" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm mt-2">Submit</button>
        </form>
    }
    else
    {
        <p class="text-muted">Please <a href="?mode=login">sign in</a> to leave a comment.</p>
    }
</div>
