@model WCMS.WebSystem.WebParts.Integration.ViewComponents.InsidefullViewModel
@* Ported from InsideFull.ascx. *@

<div class="component-insidefull">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Insidefull</em> component loaded.</p>
    </div>
</div>