@model LessonReviewer.ViewComponents.AdminManageViewModel
@* Ported from Manage.aspx. *@

<div class="component-admin-manage">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Admin Manage</em> component loaded.</p>
    </div>
</div>