@{
    Layout = null;
    
    var currentDateTime = DateTime.Now;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>Hello world!</h1>
        <p>Right now it's @currentDateTime</p>
    </div>
</body>
</html>
