@model WCMS.WebSystem.WebParts.ViewComponents.ArticleMultipleMultiBasicViewModel
@* Ported from Basic.ascx. *@

<div class="component-article-multiple-multi-basic">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Article Multiple Multi Basic</em> component loaded.</p>
    </div>
</div>