@* Originally: Central/Basic.ascx *@
@model WCMS.WebSystem.ViewComponents.ThemeCentralBasicModel
<div class="theme-central-basic" data-object-id="@Model.ObjectId">
    <header class="theme-central-header">
        <div class="container">
            <div class="row">
                <div class="col-12" id="CentralHeaderZone">
                    @* Central branded header zone *@
                </div>
            </div>
        </div>
    </header>
    <nav class="theme-central-nav">
        <div class="container">
            <div class="row">
                <div class="col-12" id="NavigationZone">
                    @* Navigation zone *@
                </div>
            </div>
        </div>
    </nav>
    <main class="theme-central-content">
        <div class="container">
            <div class="row">
                <div class="col-12" id="ContentZone">
                    @* Single-column content area *@
                </div>
            </div>
        </div>
    </main>
    <footer class="theme-central-footer">
        <div class="container">
            <div class="row">
                <div class="col-12" id="FooterZone">
                    @* Footer zone *@
                </div>
            </div>
        </div>
    </footer>
</div>
