@model WCMS.WebSystem.WebParts.Integration.ViewComponents.AmstestViewModel
@* Ported from AMSTest.ascx. *@

<div class="component-amstest">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Amstest</em> component loaded.</p>
    </div>
</div>