@model WCMS.WebSystem.WebParts.ViewComponents.ArticleSingleSingleFrontnewsViewModel
@* Ported from FrontNews.ascx. *@

<div class="component-article-single-single-frontnews">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Article Single Single Frontnews</em> component loaded.</p>
    </div>
</div>