@model WCMS.WebSystem.WebParts.G2.ViewComponents.MobilewallViewModel
@* Ported from MobileWall.ascx. *@

<div class="component-mobilewall">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Mobilewall</em> component loaded.</p>
    </div>
</div>