@model WCMS.WebSystem.WebParts.G2.ViewComponents.SocialCommentsViewModel
@* Ported from Comments.ascx. *@

<div class="component-social-comments">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Social Comments</em> component loaded.</p>
    </div>
</div>