@{

}

<h3 class="page-header">Razor Executor</h3>
<a href="/Content/Executor" target="_blank" class="btn btn-danger">Launch</a>&nbsp;
<a href="/Central/Tools/FileManager/?Path=~/Content/Executor.cshtml&Open=Edit-file" target="_blank" class="btn btn-primary">Edit</a>
<br />
<br />
<h3 class="page-header">Aspx Executor</h3>
<a href="/Content/Executor.aspx" target="_blank" class="btn btn-danger">Launch</a>&nbsp;
<a href="/Central/Tools/FileManager/?Path=~/Content/Executor.aspx&Open=Edit-file" target="_blank" class="btn btn-primary">Edit</a>