@model WCMS.WebSystem.WebParts.ViewComponents.MCFinalistsV2Model

<div class="card" id="mc-finalists-v2-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Finalists V2</h5>
    </div>
    <div class="card-body">
        <p>Loading finalists v2...</p>
    </div>
</div>
