<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WCMS.LessonReviewer.BaseFolder" value="C:\Daniel\Test\svn\trunk\WebSystem-MVC\Assets\Public\Services\" />
    <add key="WCMS.LessonReviewer.BaseHttp" value="http://localhost:9000/Assets/Public/Services/" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>
