@model WCMS.WebSystem.WebParts.Integration.ViewComponents.Asopv2DivisionHomeViewModel
@* Ported from asopv2-division-home.ascx. *@

<div class="component-asopv2-division-home">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Asopv2 Division Home</em> component loaded.</p>
    </div>
</div>