@model WCMS.WebSystem.WebParts.ViewComponents.MCAdminCompetitionManagerModel

<div class="card" id="mc-admin-competition-manager-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Competition Manager</h5>
    </div>
    <div class="card-body">
        <p>Loading competition manager...</p>
    </div>
</div>
