@model WCMS.WebSystem.WebParts.Integration.ViewComponents.TemplateInsideViewModel
@* Ported from template_inside.ascx. *@

<div class="component-template-inside">
    @Html.Raw(Model.ContentHtml ?? "")
</div>