@model WCMS.WebSystem.WebParts.G2.ViewComponents.DownloadDownloadsViewModel
@* Ported from Downloads.ascx. *@

<div class="component-download-downloads">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Download Downloads</em> component loaded.</p>
    </div>
</div>