@model WCMS.WebSystem.WebParts.ViewComponents.MCAdminInterpreterScoreManagerModel

<div class="card" id="mc-admin-interpreter-score-manager-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Interpreter Score Manager</h5>
    </div>
    <div class="card-body">
        <p>Loading interpreter score manager...</p>
    </div>
</div>
