@model WCMS.WebSystem.WebParts.ViewComponents.MCFinalistsModel

<div class="card" id="mc-finalists-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Finalists</h5>
    </div>
    <div class="card-body">
        <p>Loading finalists...</p>
    </div>
</div>
