@model WCMS.WebSystem.WebParts.Integration.ViewComponents.EventviewbasicViewModel
@* Ported from EventViewBasic.ascx. *@

<div class="component-eventviewbasic">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Eventviewbasic</em> component loaded.</p>
    </div>
</div>