DIV.PlaceHolder
{
	border: #f2eee7 thin ridge;
	padding: 2px;
	font-size: 8pt;
	color: black;
	font-weight: bold;
	font-family: Tahoma;
	background-color: #ece9d8;
}

DIV.PlaceHolderModeB
{
	border: #f2eee7 thin ridge;
	padding: 2px;
	font-weight: bold;
	font-size: 8pt;
	width: 125px;
	color: black;
	font-family: Tahoma;
	background-color: #ece9d8;
}

DIV.SectionTitle
{
	border: #f2eee7 thin ridge;
	padding: 2px;
	font-weight: bold;
	font-size: 8pt;
	width: 100px;
	color: black;
	font-family: Tahoma;
	background-color: #ffffe1;
}