@model WCMS.WebSystem.WebParts.ViewComponents.ThreeColumnViewModel
<section class="wcms-three-column @Model.CssClass" aria-label="Three-column layout">
    <div class="row">
        <div class="col-md-@Model.LeftColumnWidth" role="region" aria-label="Left column">
            @Html.Raw(Model.LeftContent)
        </div>
        <div class="col-md-@Model.CenterColumnWidth" role="region" aria-label="Center column">
            @Html.Raw(Model.CenterContent)
        </div>
        <div class="col-md-@Model.RightColumnWidth" role="region" aria-label="Right column">
            @Html.Raw(Model.RightContent)
        </div>
    </div>
</section>
