@model WCMS.WebSystem.WebParts.ViewComponents.ThreeColumnViewModel
<div class="wcms-three-column @Model.CssClass">
    <div class="row">
        <div class="col-md-@Model.LeftColumnWidth">
            @Html.Raw(Model.LeftContent)
        </div>
        <div class="col-md-@Model.CenterColumnWidth">
            @Html.Raw(Model.CenterContent)
        </div>
        <div class="col-md-@Model.RightColumnWidth">
            @Html.Raw(Model.RightContent)
        </div>
    </div>
</div>
