@model WCMS.WebSystem.WebParts.Integration.ViewComponents.BiblereaderBibleauthViewModel
@* Ported from BibleAuth.ascx. *@

<div class="component-biblereader-bibleauth">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Biblereader Bibleauth</em> component loaded.</p>
    </div>
</div>