@model WCMS.WebSystem.WebParts.ViewComponents.ArticletagviewViewModel
@* Ported from ArticleTagView.ascx. *@

<div class="component-articletagview">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Articletagview</em> component loaded.</p>
    </div>
</div>