@model WCMS.WebSystem.WebParts.ViewComponents.RemoteindexerdownloadViewModel
@* Ported from RemoteIndexerDownload.ascx. *@

<div class="component-remoteindexerdownload">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Remoteindexerdownload</em> component loaded.</p>
    </div>
</div>