@model string
<div class="well sidebar-nav @Model" role="complementary">
    <ul class="nav nav-list">
        @* Child web parts are rendered by the layout engine into this container *@
    </ul>
</div>
