@model WCMS.WebSystem.WebParts.ViewComponents.MenuBreadcrumbViewModel
@* Ported from Breadcrumb.ascx. *@

<div class="component-menu-breadcrumb">
    @if (Model.Items.Any())
    {
        <nav aria-label="Navigation">
            <ul class="nav flex-column">
                @foreach (var item in Model.Items)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@item.Name">@item.Name</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>