@model WCMS.WebSystem.WebParts.Integration.ViewComponents.AsopAsopDefaultViewModel
@* Ported from Default.ascx. *@

<div class="component-asop-asop-default">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Asop Asop Default</em> component loaded.</p>
    </div>
</div>