@model WCMS.WebSystem.WebParts.Integration.ViewComponents.TemplateInsideFullViewModel
@* Ported from template_inside_full.ascx. *@

<div class="component-template-inside-full">
    @Html.Raw(Model.ContentHtml ?? "")
</div>