@model WCMS.WebSystem.WebParts.Integration.ViewComponents.ControlsWebgrouptabViewModel
@* Ported from WebGroupTab.ascx. *@

<div class="component-controls-webgrouptab">
    @Html.Raw(Model.BreadcrumbHtml)
</div>