@model WCMS.WebSystem.WebParts.ViewComponents.MCCandidateManagerModel

<div class="card" id="mc-candidate-manager-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Candidate Manager</h5>
    </div>
    <div class="card-body">
        <p>Loading candidate manager...</p>
    </div>
</div>
