@model WCMS.WebSystem.WebParts.ViewComponents.SearchRogViewModel
@* Ported from Search_ROG.ascx. *@

<div class="component-search-rog">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Search Rog</em> component loaded.</p>
    </div>
</div>