@model WCMS.WebSystem.WebParts.G2.ViewComponents.FlashbannerRendererViewModel
@* Ported from Renderer.ascx. *@

<div class="component-flashbanner-renderer">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Flashbanner Renderer</em> component loaded.</p>
    </div>
</div>