@model WCMS.WebSystem.WebParts.Integration.ViewComponents.MusiccompetitionAsopwinnersViewModel
@* Ported from ASOPWinners.ascx. *@

<div class="component-musiccompetition-asopwinners">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Musiccompetition Asopwinners</em> component loaded.</p>
    </div>
</div>