@model WCMS.WebSystem.WebParts.Integration.ViewComponents.McgiwebsiteTemplateHome2ViewModel
@* Ported from template_home2.ascx. *@

<div class="component-mcgiwebsite-template-home2">
    @Html.Raw(Model.ContentHtml ?? "")
</div>