@model WCMS.WebSystem.WebParts.G2.ViewComponents.FlashbannerFlashbannerDefaultViewModel
@* Ported from Default.aspx. *@

<div class="component-flashbanner-flashbanner-default">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Flashbanner Flashbanner Default</em> component loaded.</p>
    </div>
</div>