@model WCMS.WebSystem.WebParts.ViewComponents.MCAdminSongScoreManagerModel

<div class="card" id="mc-admin-song-score-manager-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Song Score Manager</h5>
    </div>
    <div class="card-body">
        <p>Loading song score manager...</p>
    </div>
</div>
