@model WCMS.WebSystem.WebParts.Integration.ViewComponents.TemplateHomeViewModel
@* Ported from template_home.ascx. *@

<div class="component-template-home">
    @Html.Raw(Model.ContentHtml ?? "")
</div>