<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$(Subject)</title>
    <style type="text/css">
        h3
        {
            font-size: 150%;
        }
        
        input, select, textarea
        {
            font: 11px/18px 'Lucida Grande' , 'Lucida Sans Unicode' ,Verdana,Arial,Helvetica,sans-serif;
        }
        
        body, p, li, dt, dd, label
        {
            color: #000000;
            font-family: 'Lucida Sans' , 'Lucida Grande' , 'Lucida Sans Unicode' ,sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div>
        <img border="0" alt="" src="$(BaseAddress)/Content/Themes/website/assets/images/logo.png" />
        <br />
        <br />
        <br />
        <span>Name: <strong>$(Name)</strong><br />
            <br />
            Email: <strong>$(Email)</strong><br />
            <br />
            Contact No: <strong>$(ContactNo)</strong><br />
            <br />
            Subject: <strong>$(Subject)</strong>
            <br />
            <br />
            <br />
            Message:<br />
            $(Message)<br />
        </span>
    </div>
</body>
</html>
