@model WCMS.WebSystem.WebParts.Integration.ViewComponents.ReminderMemberremindersViewModel
@* Ported from MemberReminders.ascx. *@

<div class="component-reminder-memberreminders">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Reminder Memberreminders</em> component loaded.</p>
    </div>
</div>