@model WCMS.WebSystem.WebParts.ViewComponents.MCVoteResult2Model

<div class="card" id="mc-vote-result-2-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Vote Results V2</h5>
    </div>
    <div class="card-body">
        <p>Loading vote results v2...</p>
    </div>
</div>
