@model WCMS.WebSystem.WebParts.G2.ViewComponents.AdredirectorViewModel
@* Ported from AdRedirector.aspx. *@

<div class="component-adredirector">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Adredirector</em> component loaded.</p>
    </div>
</div>