<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=mPortal;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mPortal;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="EventCalendar" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mPortal;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="IntegrationDBEntities" connectionString="metadata=res://*/IntegrationDBModel.csdl|res://*/IntegrationDBModel.ssdl|res://*/IntegrationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=IntegrationDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="WCMS.Framework.Core.SqlProvider"/>
    <!-- the next 2 lines are specific to WebObject class -->
    <add key="WebObject.XmlProvider" value="WCMS.Framework.Core.XmlProvider"/>
    <add key="WebObject.DataProvider" value="WCMS.Framework.Core.SqlProvider.WebObjectProvider, WCMS.Framework.Core.SqlProvider"/>
    <add key="WebObject.SqlDbName" value="mPortal"/>
    <!--<add key="XmlProvider.Path" value="" />-->
    <add key="DbProvider.Path" value="~\..\..\Binaries"/>

    <add key="LogPath" value=".\logs\"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ProxyHost" value="usa-entnc-003"/>
    <add key="ProxyPort" value="80"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="admin@someorg.org">
        <network host="localhost" password="" userName=""/>
      </smtp>
    </mailSettings>
    <!--<defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://usa-entnc-003:80" usesystemdefault="True"/>
    </defaultProxy>-->
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="MemberSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="4194304" maxBufferPoolSize="524288" maxReceivedMessageSize="4194304" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://service.someorg.org/member.asmx" binding="basicHttpBinding" bindingConfiguration="MemberSoap1" contract="IntegrationMemberWS.MemberSoap" name="MemberSoap1"/>
    </client>
  </system.serviceModel>
</configuration>
