@model WCMS.WebSystem.WebParts.Integration.ViewComponents.AsopmobileViewModel
@* Ported from ASOPMobile.ascx. *@

<div class="component-asopmobile">
    @if (Model.Items.Any())
    {
        <div class="list-group">
            @foreach (var item in Model.Items)
            {
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Name</h5>
                    </div>
                    <p class="mb-1">@item.Entry</p>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-muted fst-italic">No items available.</p>
    }
</div>