@model WCMS.WebSystem.WebParts.Integration.ViewComponents.LessonreviewerSessionstartViewModel
@* Ported from SessionStart.ascx. *@

<div class="component-lessonreviewer-sessionstart">
    @Html.Raw(Model.ScriptMakeUpTestHtml)
    @Html.Raw(Model.ScriptPlaybackTestHtml)
</div>