@model WCMS.WebSystem.WebParts.Integration.ViewComponents.McgisgMcgisgHomeViewModel
@* Ported from mcgisg_home.ascx. *@

<div class="component-mcgisg-mcgisg-home">
    <div class="component-content" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
        <p class="text-muted"><em>Mcgisg Mcgisg Home</em> component loaded.</p>
    </div>
</div>