@model WCMS.WebSystem.WebParts.ViewComponents.TwitterHelperViewModel
<div class="wcms-twitter-helper">
    @if (string.IsNullOrEmpty(Model.TwitterHandle))
    {
        <p class="text-muted">No Twitter handle configured.</p>
    }
    else
    {
        <div class="twitter-embed" data-theme="@Model.Theme">
            <a class="twitter-timeline"
               href="https://twitter.com/@Model.TwitterHandle"
               data-tweet-limit="@(Model.TweetCount > 0 ? Model.TweetCount : 5)"
               data-theme="@(Model.Theme ?? "light")"
               data-widget-id="@Model.WidgetId">
                Tweets by @@@Model.TwitterHandle
            </a>
        </div>
    }
</div>
