@model WCMS.WebSystem.WebParts.ViewComponents.MCVoteV3Model

<div class="card" id="mc-vote-v3-@Model.ObjectId">
    <div class="card-header">
        <h5 class="card-title mb-0">Voting V3</h5>
    </div>
    <div class="card-body">
        <p>Loading voting v3...</p>
    </div>
</div>
